@model TextCommunicator.Models.RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
}

<div class="card">
    <h2>Rejestracja</h2>

    <form method="post">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="row gap">
            <button type="submit" class="btn">Utwórz konto</button>
            <a class="btn btn-secondary" asp-action="Login">Mam już konto</a>
        </div>

        <div class="text-danger">
            @Html.ValidationSummary()
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}